@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --yellow: #ead999;
  --darkYellow: #c39e64;
  --lightPurple: #673aa3;
  --darkPurple: #491291;
  --orange-gradient: linear-gradient(to right, #deb8f5, #ba42c0);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}